html{
	margin: 0;
	padding: 0;
}

/* Header */

.logo {
	color: mediumaquamarine;
	display: inline-flex;
	align-items: center;
	padding-left: 25px;
}

.logo p {
	padding-left: 10px;
}

header {
	font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
  margin: 0;
}

nav {
	display: inline-block;
	padding-right: 45px;
}

nav span {
	padding: 10px;
}

a {
	color: black;
}