/* Universal Styles */
	
header {
	background-color: white;
}

/* Header */

.logo {
	color: mediumaquamarine;
	display: inline-flex;
	align-items: center;
	padding-left: 25px;
	padding-top: 10px;
}

.logo p {
	padding-left: 10px;
}

header {
	font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
  margin: 0;
}

header nav {
	padding-right: 45px;
}

footer nav,
header nav {
	display: inline-block;
}

nav span {
	padding: 10px;
}

a {
	color: black;
}

/* Main Content */

body {
	margin: 0px;
}

.main,
.column,
.article {
	border: 1px solid black;
}

.article {
	font-family: Georgia;
  font-size: 17px;
  color: black;
}

.article.image {
	font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  height: 300px;
  width: 300px;
  text-align: center;
}

.article.image p {
	margin: 0;
}

.article.image.top {
	font-size: 40px;
	background-image: url("../images/phish.png");
	background-repeat: no-repeat;
	height: 300px;
	width: 630px;
	text-align: left;
}

.article.image.top p {
	padding-left: 20px;
}

.article.image.earth {
	background-image: url("../images/earth.png");
}

.article.image.camera {
	background-image: url("../images/camera.png");
}

.article.image.cat {
	background-image: url("../images/cat.png");
}

.main {
	display: inline-flex;
	position: relative;
	top: 81px;
	width: 100%;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	padding-top: 35px;
	padding-bottom: 70px;
}

.column.left {
	width: 630px;
}

.column.middle {
	width: 300px;
}

.column.right {
	width: 240px;
}

.right h2 {
	font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
}

.right ul {
	background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.right li {
	border-bottom: 1px solid black;
	padding: 15px;
}

li a {
	text-decoration: none;
  color: dimgray;
}

.left .article.text.neartop {
	height: initial;
	width: initial;
}

.left .article.text {
	width: 300px;
}

/* Footer */

footer {
	position: relative;
	top: 81px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: MediumAquamarine;
  margin: auto;
  padding: 110px;
  font-family: Verdana;
  font-size: 12px;
  line-height: 20px;
}

footer .bottomlogo a {
	font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

footer p {
	margin-bottom: 0;
}
