/* Universal Styles */
	
header {
	background-color: white;
}

/* Header */

.logo {
	color: mediumaquamarine;
	display: inline-flex;
	align-items: center;
	padding-left: 25px;
}

.logo p {
	padding-left: 10px;
}

header {
	font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
  margin: 0;
}

nav {
	display: inline-block;
	padding-right: 45px;
}

nav span {
	padding: 10px;
}

a {
	color: black;
}

/* Main Content */

.main,
.column,
.article {
	border: 1px solid black;
}

.main {
	display: inline-flex;
	position: relative;
	top: 71px;
}

.column {
	display: flex;
	flex-direction: column;
}

.column.left {
	width: 630px;
}

.column.middle {
	width: 300px;
}

.column.right {
	width: 240px;
}